@charset "UTF-8";

*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #242424;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.amarelo
{
    background: radial-gradient(circle, #ffffff 0%, #ffea00 60%);
    box-shadow: 0 0 25px 5px #ffea00, 0 0 60px 25px #ffea00, 0 0 200px 100px rgba(255, 234, 0, 0.8);
    height: 80px;
    width: 80px;
    border-radius: 0 0 0 50%;
    position: absolute;
    top: 0;
    right: 0;
}
.roxo
{
    background: radial-gradient(circle, #ffffff 0%, #9d00ff 60%);
    box-shadow: 0 0 25px 5px #9d00ff, 0 0 60px 25px #9d00ff, 0 0 200px 100px #9d00ffcc;
    height: 80px;
    width: 80px;
    border-radius: 0 50% 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.vermelho
{
    background: radial-gradient(circle, #ffffff 0%, #ff1a40 60%);
    box-shadow: 0 0 25px 5px #ff1a40,  
    0 0 60px 25px #ff003c,      
    0 0 200px 100px #ff003ccc;;
    height: 80px;
    width: 80px;
    border-radius: 0 0 50% 0;
    position: absolute;
    top: 0;
    left: 0;
}
.rosa
{
    background: radial-gradient(circle, #ffffff 0%, #ff00aa 60%);
    box-shadow: 
    0 0 25px 5px #ff00aa,
    0 0 60px 25px #ff00aa,
    0 0 200px 100px rgba(255, 0, 170, 0.8);
    height: 80px;
    width: 80px;
    border-radius: 50% 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: animarLuzes 3s ease-in-out infinite;
}

img
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

p, ul, h1
{   
    color: #242424;
    font-family: Arial, Helvetica, sans-serif;
}

img:hover
{
    height: 260px;
    width: 260px;
    transition: 0.2s;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.349);
}
a:active
{
    transform: scale(0.10);
}

.requisito a:hover + .re h1,
.requisito a:hover + .re p,
.requisito a:hover + .re ul {
    color: gray;
    transition: 0.8s ease;
}

.requisito a:active + .re h1,
.requisito a:active + .re p,
.requisito a:active + .re ul {
    transform: scale(0.98);
    transition: transform 0.8s ease;
}


